# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Data (important for your project)
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

# Build
dist/
build/
*.egg-info/

#raw notebooks
scratchpad.ipynb